<ion-content [fullscreen]="true" class="dark-bg">
  <div class="tasks-container">
    
    <h1 class="header-title">Mis Tareas</h1>

    <div class="input-container">
      <ion-input 
        class="glass-input" 
        placeholder="Escribe una nueva tarea..." 
        [(ngModel)]="nuevaTarea">
      </ion-input>
    </div>

    <ion-button class="neon-btn-cyan" expand="block" (click)="agregarTarea()">
      <ion-icon name="add-circle" slot="start"></ion-icon>
      AGREGAR TAREA
    </ion-button>

    <ion-list class="task-list">

      <ion-item class="task-item task-new" *ngFor="let tarea of tareas; let i = index">
        <ion-icon name="checkmark-circle" slot="start" class="icon-check"></ion-icon>
        
        <ion-label>{{ tarea }}</ion-label>
        
        <ion-icon name="trash" slot="end" class="icon-delete" (click)="eliminarTarea(i)"></ion-icon>
      </ion-item>

    </ion-list>

    <ion-button class="neon-btn-cyan" expand="block" style="margin-top: 20px;" (click)="irARuleta()">
      <ion-icon name="aperture" slot="start"></ion-icon>
      IR A LA RULETA
    </ion-button>

  </div>
</ion-content>