<ion-content [fullscreen]="true" class="dark-bg">
  <div class="intro-container">

    <div class="logo-ring">
      <ion-icon name="shuffle-outline"></ion-icon>
    </div>

    <h1 class="title-text">TaskRoulette</h1>
    <p class="subtitle-text">
      Convierte tu lista de tareas en una experiencia más dinámica y mantén tu enfoque en lo que realmente importa.
    </p>

<ion-button class="neon-btn" shape="round" expand="block" (click)="empezar()">
  EMPECEMOS
</ion-button>
    
  </div>
</ion-content>