<ion-content [fullscreen]="true" class="dark-bg">
  
  <div class="arcade-grid"></div>

  <div class="pomodoro-wrapper" style="position: relative; z-index: 1;">

    <div class="header-title">
      <ion-icon name="time"></ion-icon>
      <h2>TaskRoulette</h2>
    </div>
    
    <div class="motivation-card">
  <p class="quote">"{{ fraseDelDia }}"</p>
  <span class="author" *ngIf="autorDelDia">- {{ autorDelDia }}</span>
</div>

    <div class="task-card">
      <p>Tarea actual:</p>
      <h3>{{ tareaActual || 'Ninguna tarea' }}</h3>
    </div>

    <div class="timer-ring" [class.completed]="pomodoroTerminado">
      <span class="time-display">{{ mostrarTiempo() }}</span>
    </div>

    <div class="action-buttons" *ngIf="!pomodoroTerminado">
      <ion-button class="neon-btn-gold" expand="block" (click)="iniciar()" [disabled]="corriendo">
        <ion-icon name="play" slot="start"></ion-icon>
        INICIAR
      </ion-button>
      
      <ion-button class="neon-btn-pink" expand="block" (click)="pausar()" [disabled]="!corriendo">
        <ion-icon name="pause" slot="start"></ion-icon>
        PAUSAR
      </ion-button>

      <ion-button class="neon-btn-gray" expand="block" (click)="reiniciar()">
        <ion-icon name="refresh" slot="start"></ion-icon>
        REINICIAR
      </ion-button>
    </div>

    <div class="completion-card" *ngIf="pomodoroTerminado">
      <h4>🎉 Tiempo completado</h4>
      <p>¿Terminaste esta tarea?</p>
      
      <ion-button class="neon-btn-green" expand="block" (click)="completarTarea()">
        <ion-icon name="checkmark" slot="start"></ion-icon>
        COMPLETAR TAREA
      </ion-button>
      
      <ion-button class="neon-btn-gray" expand="block" (click)="mantenerTarea()">
        <ion-icon name="sync" slot="start"></ion-icon>
        MANTENER TAREA
      </ion-button>
    </div>

  </div>
</ion-content>